@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @apply bg-darker-blue font-sans ;
}